.createrecipe{
    max-width: $viewportmaxwidth;
    width: 40rem;
}

.createRecipeInputText {
    max-width: $recipeinputtextfieldmaxwidth;
    width: $recipeinputtextfieldwidth;
}

.recipeavgtimecontent {
    width: $recipeavgtime;
}