.Card {
  width:90%;
  height:26.1em;
}
@media only screen and (max-width: 750px) {
  .Images{
    width:60%;
  }
  .logo{
    width:22%;
  }
}

.carousel .p-carousel-indicator {
  visibility: hidden;
}