.Card {
  width: 95%;
  height: 26.2rem;
}
.Card img{
    height: 15rem;
    object-fit: cover;
    border-radius: 5px 5px 2px 2px;
}
.carousel .p-carousel-items-content{
  padding-left: 2.5%;
 }

@media only screen and (max-width: 750px) {
  .Images{
    width: 60%;
  }
  .logo{
    width: 22%;
  }
}

.carousel .p-carousel-indicator {
  visibility: hidden;
}