.profilePic {
    width: 20rem;
    max-width: 75vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit:cover;
    border: 2px solid rgb(80, 75, 75);
    filter: saturate(60%);
}

.pwSaveBtn {
    max-width: 7rem;
    float: left;
}

.profileInputGroup {
    max-width: $viewportmaxwidth;
    width: 25rem;
}