  .recipe{
    display:flex;
    flex-direction: column;
  }
  .recipeTop{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
  @media only screen and (max-width: 800px){
    .recipeTop{
      flex-direction: column;
      align-items: center;
    }}