.fullCard {
    max-width: 90vw;
    xheight: 32rem;
    width: 25rem;
}

.cardContent {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 30rem;
    position: relative;
}

.fullCard .p-card-footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
}

.chip-holder {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
}