.fullCard {
    max-width: 90vw;
    xheight: 32rem;
    width: 25rem;
}

.cardContent {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    xheight: 32rem;
}

.likebtn {
}