.recipecard{
    padding:1%;
  }
  
  .recipe{
    display:flex;
    flex-direction: column;
  }
  .recipeTop{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom:2%;
  }
  .recipeRight{
    margin:1%;
  }
  @media only screen and (max-width: 800px){
    .recipeTop{
      flex-direction: column;
      align-items: center;
    }}