
.recipeMeta{
    max-width: 90vw;
    width: 40rem;
    margin: auto;
    text-align: left;
}

.recipeMetaInfo{
    
    text-align: center;
}

.recipeDetail{
    max-width: 90vw;
    width: 40rem;
}

.recipeDetailInputText {
    max-width: 80vw;
    width: 30rem;
}

.recipedetailavgtimecontent {
    width: 12rem;
}