
.recipeMeta{
    max-width: $viewportmaxwidth;
    width: 40rem;
    margin: auto;
    text-align: left;
}

.recipeMetaInfo{
    
    text-align: center;
}

.recipeDetail{
    max-width: $viewportmaxwidth;
    width: 40rem;
}

.recipeDetailInputText {
    max-width: $recipeinputtextfieldmaxwidth;
    width: $recipeinputtextfieldwidth;
}

.recipedetailavgtimecontent {
    width: $recipeavgtime;
}