.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding-top:5%;
}
.home img{
  width:100%;
  object-fit: contain;
}
.navbar{
  padding-bottom:2%;
}
.recipesmenu{
  padding: 2%;
}
.recipes{
  display:flex;
  flex-direction:row;
  flex-flow: row wrap;
}
.recipecard{
  padding:1%;
}

.recipe{
  display:flex;
  flex-direction: column;
}
.recipeTop{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom:2%;
}

@media only screen and (max-width: 800px){
  .recipeTop{
    flex-direction: column;
    align-items: center;
  }
}
